<!--
{{#each players as |player|}}
 <div class="player">

   </div>

   <div class="info-column">
     <h2><span class="players"></span></h2>
     <ul class="Players-list">
  <li>First Name: {{player.First_name}}</li>
  <li>Last Name:{{player.Last_name}}</li>
  <li>Age:{{player.Age}}</li>
  <li>Position:{{player.Position}}</li>
  <li>Goals: {{player.Goals}}</li>
     </ul>
 </div>
{{/each}} -->
